################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebDemoMilja/.vs/WebDemoMilja/v15
/WebDemoMilja/WebDemoMilja/obj
/WebDemoMilja/WebDemoMilja/bin/Debug/netcoreapp2.1
